{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dependencies/datatables.net-bs/css/dataTables.bootstrap.css'%}" />
<!-- Date Picker -->
<link rel="stylesheet" href="{% static 'dependencies\date-picker\css\date-picker.css'%}" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12" style="min-height: 500px;">
        <div class="specpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <div class="pull-right">
                        <a class="dropdown" style="list-style-type:none;">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-industry" style="width: 30px;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right hdropdown notification" style="margin-top: 10px">
                                <li>
                                    <div class="form-check" style="margin-top: 10px; width: 200px;height: 200px;overflow-y: auto;">
                                        <div style="font-size:x-small; " id="checks-all-plant"> <input type="checkbox" class="i-checks"  checked> All</div>
                                        <hr style="margin-top: 5px;margin-bottom: 5px;">
                                        {% for p in plant%}
                                            <div style="font-size:x-small; padding-top: 5px;"> <input type="checkbox" class="i-checks checks-all-plant" checked> {{ p }}</div>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="summary"><a href="">Load Data</a></li>
                            </ul>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a class="dropdown" style="list-style-type:none;">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-cubes" style="width: 30px;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right hdropdown notification" style="margin-top: 10px">
                                <li>
                                    <div class="form-check" style="margin-top: 10px; width: 200px;height: 200px;overflow-y: auto;">
                                        <div style="font-size:x-small; "> <input type="checkbox" class="i-checks" id="checks-all-material" checked> All</div>
                                        <hr style="margin-top: 5px;margin-bottom: 5px;">
                                        {% for mat in material%}
                                            <div style="font-size:x-small; padding-top: 5px;"> <input type="checkbox" class="i-checks checks-all-material" checked> {{ mat }}</div>
                                        {% endfor %}

                                    </div>
                                </li>
                                <li class="summary"><a href="">Load Data</a></li>
                            </ul>
                        </a>
               
                    </div>

                    <div class="pull-right">
                        <a class="dropdown" style="list-style-type:none;">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-clock-o" style="width: 30px;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right hdropdown notification" style="margin-top: 10px">
                                <li>
                                    <div class="form-check" style="margin-top: 10px; width: 200px;height: 200px;overflow-y: auto;">
                                        <div style="font-size:x-small; "> <input type="checkbox" class="i-checks" id= "checks-all-tahun" checked> All</div>
                                        <hr style="margin-top: 5px;margin-bottom: 5px;">
                                        {% for thn in tahun%}
                                            <div style="font-size:x-small; padding-top: 5px;"> <input type="checkbox" class="i-checks checks-all-tahun" checked> {{ thn }}</div>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="summary"><a href="">Load Data</a></li>
                            </ul>
                        </a>
               
                    </div>

        
                </div>
                Grafik Pemakain Bahan Baku
            </div>
            <div class="panel-body" style="min-height: 400px;">
                <div id="chartdiv" style = "height: 400px"></div> 
                
            </div>

            <div class="panel-footer">
                Last Updated : 2 jan 2019
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="min-height: 500px;">
        <div class="specpanel">
            <div class="panel-heading hbuilt">
                
                <div class="panel-tools">
                    <div class="stats-title pull-right">
                        <li class="dropdown" style="list-style-type:none;">
                        <a class="dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-navicon" style="width: 30px;"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right hdropdown notification" id="dropdown-menu-datepicker" style="margin-top: 10px;">
                            <li>
                                <div style="height: 100px; color: #888 !important;">
                                    <h6>Start Date:</h6>
                                    <input id="datepicker_start" width="270" />
                                    <h6>End Date:</h6>
                                    <input id="datepicker_end" width="270" />
                                </div>
                            </li>
                            <li id="load-date-picker" ><a href="" style="text-align: center;">Load Data</a></li>
                        </ul>
                    </li>
                    </div>
                    
                </div>
                Transaksi
            </div>
            <div class="panel-body" style="min-height: 400px;">
                <table id="datatable" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Kategori</th>
                            <th>Material</th>
                            <th>Plan</th>
                            <th>Receiving Plan</th>
                            <th>Deskripsi</th>
                            <th>Nilai</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tanggal</th>
                            <th>Kategori</th>
                            <th>Material</th>
                            <th>Plan</th>
                            <th>Receiving Plan</th>
                            <th>Deskripsi</th>
                            <th>Nilai</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="panel-footer">
                Last Updated : 2 jan 2019
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <!-- DataTables -->
    <script src="{% static 'dependencies/datatables/media/js/jquery.dataTables.js'%}"></script>
    <script src="{% static 'dependencies/datatables.net-bs/js/dataTables.bootstrap.js'%}"></script>

    <!-- DataTables buttons scripts -->
    <script src="{% static 'dependencies/pdfmake/build/pdfmake.js'%}"></script>
    <script src="{% static 'dependencies/pdfmake/build/vfs_fonts.js'%}"></script>
    <script src="{% static 'dependencies/datatables.net-buttons/js/buttons.html5.js'%}"></script>
    <script src="{% static 'dependencies/datatables.net-buttons/js/buttons.print.js'%}"></script>
    <script src="{% static 'dependencies/datatables.net-buttons/js/dataTables.buttons.js'%}"></script>
    <script src="{% static 'dependencies/datatables.net-buttons-bs/js/buttons.bootstrap.js'%}"></script>

    <!-- Date Picker -->
    <script src="{% static 'dependencies\date-picker\js\date-picker.js'%}"></script>

    <!-- chart -->
    <script src="{% static 'charts/amchart/core.js' %}"></script>
    <script src="{% static 'charts/amchart/charts.js' %}"></script>
    <script src="{% static 'charts/amchart/animated.js' %}"></script>

    <script>
        // $("#checks-all-plant").click(function() {
        //     alert(1)
        //     // if ($(this).hasAttr("checked")){
        //     //     alert(1)
        //     // }else{
        //     //     alert(2)
        //     // }
        // });


        // $(".summary").click(function() {
        //     // $(this).add
        // });

    </script>

    


    <script>
        $('input[id$=datepicker_start]').datepicker({
            uiLibrary: 'bootstrap',
            format: 'dd/mm/yyyy',
            autoclose: false
        });
        $('#datepicker_end').datepicker({
            uiLibrary: 'bootstrap',
            format: 'dd/mm/yyyy',
            autoclose: false
        });

        jQuery(function($){
            $('#dropdown-menu-datepicker').parent().on('hide.bs.dropdown', function(e){
                e.preventDefault();
            });
        });

    </script>

    <script>
        var table = $('#datatable').dataTable({
            columns: [
                    { title: "Tanggal" },
                    { title: "Kategori" },
                    { title: "Material" },
                    { title: "Plan" },
                    { title: "Receiving Plan" },
                    { title: "Deskripsi" },
                    { title: "Nilai" }
                ]
        });

        $('#load-date-picker').click(
            function(e) {
                var start = $('#datepicker_start').val();
                var end = $('#datepicker_end').val();
                
                $.ajax({
                    type:'POST',
                    url:'/getTableData/',
                    data:{
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        "start" : start,
                        "end" : end,
                    },
                    success:function(json){
                        var data = JSON.parse(json);
                        if (data.data.length != 0){
                            table.fnClearTable();
                            table.fnAddData(data.data);
                        }
                        //console.log(data.data[0]);
                    },
                    error : function(xhr,errmsg,err) {
                        
                }
                });
                e.preventDefault();
                // e.stopPropagation();
                // $("#dropdown-menu-datepicker").dropdown("toggle");
                $(this).closest(".dropdown").removeClass( "open" );
            }

        )
    </script>

    <script>
        var data_line = {{ Data | safe  }};
        var tahun_list = {{ tahun | safe  }};

        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart);
        // Increase contrast by taking evey second color
        chart.colors.step = 2;

        // Add data
        chart.data = data_line;
        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "date";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 60;
        categoryAxis.renderer.grid.template.disabled = true;

        // Create value axis
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis())
        valueAxis.title.text = "Transaksi";

        function createAxisAndSeries(field, name, opposite, bullet) {
              var series = chart.series.push(new am4charts.LineSeries());
              series.dataFields.valueY = field;
              series.dataFields.categoryX = "date";
              series.name =name;
              series.strokeWidth = 3;
              //series.bullets.push(new am4charts.CircleBullet());
              series.tooltipText = "{name} {categoryX}: {valueY}";
              //series.legendSettings.valueText = "{valueY}";

              var interfaceColors = new am4core.InterfaceColorSet();

              switch(bullet) {
                  case "triangle":
                    var bullet = series.bullets.push(new am4charts.Bullet());
                    bullet.width = 12;
                    bullet.height = 12;
                    bullet.horizontalCenter = "middle";
                    bullet.verticalCenter = "middle";
                    
                    var triangle = bullet.createChild(am4core.Triangle);
                    triangle.stroke = interfaceColors.getFor("background");
                    triangle.strokeWidth = 2;
                    triangle.direction = "top";
                    triangle.width = 12;
                    triangle.height = 12;
                    break;
                  case "rectangle":
                    var bullet = series.bullets.push(new am4charts.Bullet());
                    bullet.width = 10;
                    bullet.height = 10;
                    bullet.horizontalCenter = "middle";
                    bullet.verticalCenter = "middle";
                    
                    var rectangle = bullet.createChild(am4core.Rectangle);
                    rectangle.stroke = interfaceColors.getFor("background");
                    rectangle.strokeWidth = 2;
                    rectangle.width = 10;
                    rectangle.height = 10;
                    break;
                  case "circle":
                    var bullet = series.bullets.push(new am4charts.CircleBullet());
                    bullet.circle.stroke = interfaceColors.getFor("background");
                    bullet.circle.strokeWidth = 2;
                    break;
                  case "rata-rata":
                    series.strokeDasharray = 4;
                    break
                  default:
                    break;
                }
              return series
              }
        
        for (i = 0, len = tahun_list.length, text = ""; i < len; i++) {
            createAxisAndSeries(tahun_list[i], " "+tahun_list[i], false, "circle");
        }

        var series3 = createAxisAndSeries("Rata-rata", "Rata-rata", false, "rata-rata");

        // Add chart cursor
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "none";
        // Add legend
        chart.legend = new am4charts.Legend()


    </script>

{% endblock %}