{% extends 'base.html' %}
{% load static %}

{% block css %}


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="min-height: 500px;">
            <div class="specpanel">
                <div class="panel-heading hbuilt">
                    
                    <div class="panel-tools">
                        <div class="stats-title pull-right">
                            <li class="dropdown" style="list-style-type:none;">
                                <a class="dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-navicon" style="width: 30px;"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right hdropdown notification" style="margin-top: 10px;height: 200px;overflow-y: auto;">
                                    <li class="summary"><a href=""><small>Load Data</small></a></li>
                                    <li class="summary"><a href=""><small>Load Data</small></a></li>
                                    <li class="summary"><a href=""><small>Load Data</small></a></li>
                                    <li class="summary"><a href=""><small>Load Data</small></a></li>
                                    <li class="summary"><a href=""><small>Load Data</small></a></li>
                                    <li class="summary"><a href=""><small>Load Data</small></a></li>
                                    <li class="summary"><a href=""><small>Load Data</small></a></li>
                                </ul>
                            </li>
                        </div>
                        
                    </div>
                    Notulensi
                </div>
                <div class="panel-body" style="min-height: 400px;">
                    
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-success " type="button"><i class="fa fa-print"></i> <span class="bold">Print</span></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}