{% load static %}<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.0.0.min.css' %}">
  </head>
  <body style="background-color: #022140">
      <div class="col-lg-4 col-md-6 col-sm-8" style="position:fixed; top:15%;left:33%">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" style="text-align:center"><strong>Reset your password</strong></h3>
            <p>Enter your email address and we will send you a link to reset your password.</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
            </form>
          </div>
        </div>
      </div>
  </body>
</html>
