{% extends 'base_empty.html' %}
{% load static %}

{% block css %}


{% endblock %}

{% block content %}



<div class="login-container">
    <div class="row">
        <div class="col-md-12">
          <div class="login-page">
            <div class="form">
              <div class="alert alert-success" role="alert">
                <strong> <i class="fa fa-check"></i> Success!</strong> Your password has been changed!
              </div>
                <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>

            </div>
          
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}


