
{% extends 'base_empty.html' %}
{% load static %}

{% block css %}


{% endblock %}

{% block content %}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="specpanel">
                        <div class="login-page">
                        <div class="form">
                          {% if validlink %}
                          <h3 class="card-title">Change password for @{{ form.user.username }}</h3>
                          <form method="post" novalidate>
                          {% csrf_token %}
                          {% include 'includes/form.html' %}
                          <button type="submit" class="btn btn-success btn-block">Change password</button>
                          </form>
                      {% else %}
                          <!-- <h3 class="card-title">Reset your password</h3> -->
                          <div class="alert alert-danger" role="alert">
                            <i class="fa fa-times" style="color: white;"></i> It looks like you clicked on an invalid password reset link. Please try again.
                          </div>
                          <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
                      {% endif %}


                        </div>
                    </div>
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            2015 Copyright Company CodeDirect
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}



