{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}


    {% if user.is_superuser %}
        <div class="row">
            <div class="col-md-12">
                <div class="specpanel">
                    <div class="panel-body" style=" background: #f1f3f6 !important; border: 1px solid #f1f3f6 !important;">
        
                        <div class="form">
                            <h3 style="padding-bottom: 20px;">Create Account</h3>
                            <form class="register-form" method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/form.html' %}
                                <button type="submit"> create</button>
                            </form>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block js %}
{% endblock %}