{% extends 'base_empty.html' %}
{% load static %}

{% block css %}


{% endblock %}

{% block content %}

<div class="back-link">
    <a href="/" class="btn btn-primary">Back to Dashboard</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>PASSWORD RECOVER</h3>
                <small>Please fill the form to recover your password</small>
            </div>
            <div class="specpanel">
                
                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>
                        <div class="login-page">
                        <div class="form">


                            <form class="login-form" method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/form.html' %}
                                
                                <button type="submit" class="btn btn-success btn-block">Reset password</button>
                            </form>
                        </div>
                    </div>
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            2015 Copyright Company Name
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}


